<style>
  .table-dark{
    color: #ffffff;
    background-color: #505050;
    font-size: 16px;
  }
  .thead-dark{
    background-color: #202020;
    font-size: 18px;
    font-weight: bold;
  }
  .logo-novo{
    padding: 15px;
    color: #4682B4;
    font-size: 25px;
  }
  .logo-desconvidar{
    color: #4682B4;
  }
  .form-style{
    padding: 5% 20%;
    color: #202020;
    font-size: 18px;
  }
  .form-space{
    padding: 15px;
  }
  .form-button{
    background-color:#708090;
    color: #ffffff;
  }
  .descricao{
    color: #303050;
    font-size: 16px;
  }
  .container img {
    padding: 25px;
    max-width:320px;
    max-height:240px;
    width: auto;
    height: auto;
  }
</style>

<div id="error" class="alert alert-danger alert-dismissible" style="display: none;" align="center">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="CloseAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Erro!</strong> Não foi possível atualizar o cadastro!
</div>

<div id="success" class="alert alert-success alert-dismissible" style="display: none;" align="center">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="CloseAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Sucesso!</strong> O cadastro foi atualizado com sucesso!
</div>

<div id="alterarConvidado" style="display: none;">
  <h1 align="center" style="font-weight: bold;">ALTERAR CONVIDADO</h1>
  <div class="form-style">
    <div class="row form-space">
      <label class="col-sm-2 col-md-1">Nome</label>
      <div class="col-sm-10 col-md-11">
        <input type="text" class="form-control" [(ngModel)]="convidado.nome">
      </div>
    </div>
    <div class="row form-space">
      <label class="col-sm-2 col-md-1">Idade</label>
      <div class="col-sm-4 col-md-5">
        <input type="text" class="form-control" [(ngModel)]="idadeConvidado">
      </div>
      <label class="col-sm-2 col-md-1">CPF</label>
      <div class="col-sm-4 col-md-5">
        <input type="text" class="form-control" [(ngModel)]="convidado.cpf">
      </div>
    </div>
  </div>
  <div class="form-space" align="center">
    <div class="form-space">
      <button type="button" class="btn form-button" (click)="SalvarConvidado()">Salvar</button>
      <button type="button" class="btn form-button" (click)="VoltarAlterarConvidado()">Cancelar</button>
    </div>
  </div>
</div>

<div id="lista" style="display: block;">
  <div class="container" align="center">
    <img src="../../assets/imgAvatar.jpg" class="img-circle" alt="Avatar">
  </div>
  <h1 align="center" style="font-weight: bold;">{{convidado.nome}}</h1>

  <div class="row descricao" align="center" style="padding: 5%;">
    <h4 class="col-sm-12">Idade: {{convidado.idade}}</h4>
    <h4 class="col-sm-12">CPF: {{convidado.cpf}}</h4>
  </div>

  <div id='ButtonsConvidado' style="display: block;" class="logo-novo row" align="center">
    <div class="col-sm-5"></div>
    <div class="col-sm-1" (click)="AlterarConvidado()">
      <span class="glyphicon glyphicon-pencil"><h4>Alterar</h4></span>
    </div>
    <div class="col-sm-1" (click)="RemoverConvidado()">
      <span class="glyphicon glyphicon-remove"><h4>Remover</h4></span>
    </div>
  </div>

  <div id="RemoverConvidado" style="display: none;" class="row">
    <div class="col-sm-4"></div>
    <div class="panel panel-default col-sm-4" style="padding: 50px;"align="center">
      <h3 align="center" style="font-weight: bold;">Quer realmente excluir esse convidado</h3>
      <button type="button" class="btn form-button" (click)="ConfirmarRemover()">Sim</button>
      <button type="button" class="btn form-button" (click)="VoltarRemover()">Cancelar</button>
    </div>
  </div>

  <div style="padding: 50px;"></div>

  <h1 class="form-space" align="center" style="font-weight: bold;">EVENTOS</h1>

  <div class="form-space">
    <table class="table table-dark">
      <thead class="thead-dark row">
        <tr>
          <td class="col-sm-3" align="center">Nome</td>
          <td class="col-sm-3" align="center">Data</td>
          <td class="col-sm-3" align="center">Hora</td>
          <td class="col-sm-3" align="center">Remover</td>
        </tr>
      </thead>
      <tbody class="tbody-dark">
        <tr *ngFor="let evento of eventos">
          <td align="center" (click)="AbrirEvento(evento.id)">
            {{evento.nome}}
          </td>
          <td align="center" (click)="AbrirEvento(evento.id)">
            {{evento.data}}
          </td>
          <td align="center" (click)="AbrirEvento(evento.id)">
            {{evento.hora}}
          </td>
          <td align="center">
            <span class="glyphicon glyphicon-remove logo-desconvidar" (click)="RemoverConvite(evento.id)">
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
